<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone=no">
        <link rel="icon" href="/static/dotalab_tab_icon.png">
        <link rel="stylesheet" type="text/css" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="http://apps.bdimg.com/libs/fontawesome/4.4.0/css/font-awesome.css">
        <title>666刀塔</title>
        <style type="text/css">
            #content article {
                width: 80%;
                height: 100%;
                text-align: center;
                margin: 0 auto;
                overflow: hidden;
            }
        </style>
    </head>
    <body>
        <div class="page-container" id="page-container">
            <nav-component
                :reveal='reveal'>
            </nav-component>
            <div id="content" class="container">
                <article>
                    <br>
                    <br>
                    <h2>关于我们</h2>
                    <br>
                    <h4><font color="grey">The DOTA Lab是由三位小伙伴用业余时间建立起的电竞数据分析网站</font></h4>
                    <h4><font color="grey">我们希望通过专业的数据分析,挖掘可执行的Dota知识</font></h4>
                    <br>
                    <h4>网站现处于建设阶段,欢迎大家提供宝贵意见</h4>
                    <h4>微信公众号:搜索"thedotalab"</h4>
                    <img src="/static/img/wechat.jpg" style = "width:200px;"/>
                    <h4>微博: Dota实验室 </h4>
                    <h4>邮箱: thedotalab@hotmail.com </h4>
                </article>
            </div>
            <footer-component></footer-component>
            <search-component :show='show' @submit='reveal(0)'>
            </search-component>
        </div>
    </body>
    <!-- 判断dev,product -->
    <script type="text/javascript" src="/static/dist/vendor.js"></script>
    <script type="text/javascript" src="/static/dist/contact_us.js"></script>
</html>
